.show-on-scroll{
  transition: ease all 0.5s;
  opacity: 0;
  $movepx: 45px;
  &.from-bottom{
    transform: translate(0px , $movepx );
  }
  &.from-top{
    transform: translate(0px , -$movepx );
  }
  &.from-right{
    transform: translate($movepx , 0 );
  }
  &.from-left{
    transform: translate(-$movepx , 0 );
  }
  &.active{
    opacity: 1;
    &.from-bottom,
    &.from-top,
    &.from-right,
    &.from-left{
      transform: translate(0,0);
    }
  }

}

