$w-xl: 1650px; // resolution just under 1920
$w-l: 1450px; // resolution above 1366
$w-m: 1280px; // ipad big resolution
$w-m-s: 1024px; // ipad big resolution
$w-m-xs: 991px; // ipad small resolution
$w-s: 768px; // ipad small resolution
$w-xs: 550px; // mobile resolution
$w-xxs: 380px; // small mobile resolution

@mixin respond-width($media) {
  $max-width: $media + 1px;

  @media (max-width: #{$max-width}) {
    @content;
  }
}

@mixin page-header {
  background-color: var(--blue-primary);
  padding: 120px 0 100px calc(100vw/12);
  border-radius: 0 0 20px 20px;

  .h1-italic {
    position: relative;
    top: -25px;
  }
  .word-wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .word {
    transform: translateY(150px);
  }
}

@mixin page-header-w-s {
  @include respond-width($w-s) {
    padding: 110px 14px 40px 14px;
    border-radius: 0;

    .h1-italic {
      position: relative;
      top: -10px;
    }

    .word{
      transform: translateY(100px);
    }
  }
}

@mixin page-main($width) {
  max-width: $width;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  .p-body1 {
    color: var(--grey);
  }
}

@mixin page-main-sm {
  .section{
    padding: 0px 10px;
  }
  @include respond-width($w-s) {
    margin: 0 14px 50px;
    gap: 0;

    .section {
      padding: 30px 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        padding-bottom: 20px;
      }
    }
  }
}


