
html{
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.scroll-reactive{
  transition: ease opacity 0.3s;
  opacity: 0;
  &.active{
    opacity: 1;
  }
}





