
@font-face {
  font-family: 'Neue Montreal Book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/PPNeueMontreal-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/PPNeueMontreal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Eiko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/PPEiko-LightItalic.ttf') format('truetype');
}

@import "_variables";
@import "_typography";
@import "_media_queries";
@import "_button";
@import "_animations";


html{
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  //text-size-adjust: 100%;
  scroll-behavior: smooth;
}

// to avoid <link> build by NUXT -> extracted from Icons Expertise Project
.icon-project{
  svg{
    height: 90px;
    &.lg{
      height: 160px;
      @include respond-width($w-s){
        height: 120px;
      }
    }
  }
  .white {
    fill: var(--white);
  }
  .blue {
    fill: var(--blue-primary);
  }
}

.icon-tech{
  svg{
    height: 90px;
    &.lg{
      height: 150px;
      @include respond-width($w-s){
        height: 120px;
      }
    }
  }
  .hidden {
    visibility: hidden;
  }
  .white{
    fill: var(--white);
  }
  .blue{
    fill: var(--blue-primary);
  }
}

.icon-insights{
  svg{
    height: 110px;
    width: 195px;
    &.lg{
      height: 160px;
      width: 260px;
      @include respond-width($w-s){
        height: 130px;
        width: 245px;
      }
    }
  }
  .white {
    fill: var(--white);
  }
  .blue {
    fill: var(--blue-primary);
  }
}

.icon-change{
  svg{
    height: 80px;
    &.lg{
      height: 130px;
      @include respond-width($w-s){
        height: 100px;
      }
    }
  }
  .white {
    fill: var(--white);
  }
  .blue {
    fill: var(--blue-primary);
  }
}




